{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/aecfa50529.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap" rel="stylesheet">
    <title>Niklas Färeborg</title>
</head>

<body class="main-container">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body" id="profile-wrapper">

                    <img src="{% static '/images/mig.jpg' %}" alt="profile pic of author" id="profile-pic">
                    <hr>
                    <h4 class="title-text">Hi my name is Niklas Färeborg</h4>
                    <p class="title-p">I love coding and working an in a developer team i thrive under pressure</p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card card-body">
                    <h2 class="text-center text-uppercase font-weight-bold text-decoration-underline">My journey</h2>
                    <p>Late 2021 i decided too change career.
                        I enrolled in codeinstitutes Diploma in Full Stack Software Development (E-Commerce ) <br><br>
                        where i did a total of 5 projects varying from static htlm site to a E-commerce
                        platform.<br><br>

                        I am an enthusiastic, adaptable, focused, and motivated Junior Fullstack Developer with a
                        passion for the Front end who is seeking an opportunity to keep learning and to contribute my
                        knowledge to real projects.<br><br>

                        During my one year at codeinstitute, there were many practical tasks with building web
                        applications and solving complex problems of web development using different development tools.
                        I have a great desire to develop myself in this field, learn from the best teams and work hard
                        to bring value to the company and build solutions together.
                        <br><br>

                        I have a flexible mindset and good communicational skills, I am a great team member.
                        Motivated to learn future trends, and new technologies as fast as I can.
                        <br><br>

                        HTML 5 | CSS 3 | JavaScript | Bootstrap | JQuery | Git | Python | Django | AWS | Heroku
                    </p>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body">
                    <h2 class="text-center text-uppercase font-weight-bold text-decoration-underline">My Projects</h2>
                    <div class="card-body">
                        <h5 class="text-center">Games R us</h5>
                        <a href="https://github.com/ejkington/gamesrus" target="_blank">
                            <img class="img-thumbnail" src="{% static '/images/gamesrus.png' %}" alt="picture of link">
                        </a>
                        <p>E-commerce site</p>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">Rimbo brewery booking</h5>
                        <a href="https://github.com/ejkington/rimbo-beer-brewery" target="_blank">
                            <img class="img-thumbnail" src="{% static '/images/rimbobeerbooking.jpg' %}"
                                alt="picture of link">
                        </a>
                        <p>Site for booking tours on a fictional brewery</p>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">Morbidus Castle</h5>
                        <a href="https://github.com/ejkington/adventure-time" target="_blank">
                            <img class="img-thumbnail" src="{% static '/images/morbiduscastle.png' %}"
                                alt="picture of link">
                        </a>
                        <p>Text based game made in python</p>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">RPSLS</h5>
                        <a href="https://github.com/ejkington/lizard-spock-ms2" target="_blank">
                            <img class="img-thumbnail" src="{% static '/images/rpsls.png' %}" alt="picture of link">
                        </a>
                        <p>Javascript game of Rock papper sicssors lizzard spock</p>
                    </div>
                    <div class="card-body">
                        <h5 class="text-center">Rimbo beer brewery</h5>
                        <a href="https://github.com/ejkington/rimbo-beer-brewery-ms1" target="_blank">
                            <img class="img-thumbnail" src="{% static '/images/pp1.png' %}" alt="picture of link">
                        </a>
                        <p>Static site of a made up beer brewery</p>
                    </div>
                    <!--<div class="card-body">
                        <h5 class="card text-center">Breathalizer</h5>
                        <a href="https://github.com/ejkington/breathalizer" target="_blank">
                            <img class="img-thumbnail" src="{% static '/images/#' %}" alt="picture of link">
                        </a>
                        <p>Meditaion app</p>
                    </div> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body">
                    <h2 class="text-center text-uppercase font-weight-bold text-decoration-underline">About me</h2>
                    <p class="#">My name is Niklas Färeborg, i live in north of stockholm sweden in a town called
                        Norrtälje. <br>
                        When im not working or coding i like to spend my time at sea in the beautiful Norrtälje
                        archipelago, Diving, swiming, wakeboarding or just chilling on the boat. <br>


                    </p>
                    <div>
                        <div>
                            <h3 class="text-center text-uppercase font-weight-bold mt-5 text-decoration-underline">My
                                Dipoma in Software
                                development
                            </h3>
                            <img class="img-thumbnail" src="{% static '/images/certificate.jpg.png' %}"
                                alt="img of diploma">
                            <p class="mt-5">Code Institute is an online coding bootcamp offering a FullStack Software
                                Development diploma. As a global coding educators our courses offer learners the skills
                                and support to change careers and advance more quickly. We combine high-quality content,
                                technology, analytics and support to facilitate learners’ success.
                            </p>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h3 class="text-center text-uppercase font-weight-bold mt-5 text-decoration-underline">My
                                Hackatons
                            </h3>
                            <img class="img-thumbnail" src="{% static '/images/hackaton.png' %}" alt="img of diploma">
                            <p class="mt-5">

                            </p>
                            <h5 class="text-center text-uppercase font-weight-bold mt-5 text-decoration-underline">
                                Cassette Crusaders project Stranger-bits</h5>
                            <a href="https://github.com/Becky139/Hack-hero" target="_blank">
                                <img class="img-thumbnail" src="{% static '/images/hackatonimg.png' %}"
                                    alt="picture of link">
                            </a>
                            <p class="mt-5">Stranger bits in an 80´s theme game where players can answer a series of
                                questions about nintendo 8 bit games</p>

                            <p class="mt-3">This was my first hackaton and a great experience working in a developer
                                team</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
</body>

</html>